//go:build fffi_idl_code

package implot

func PlotBarGroups${typeName}(label_ids NullSeparatedStringArray, values []${typeGo}, groups int) {
	_ = `
size_t n_labels;
auto ary_labels = convertNullSeparatedStringArrayToArray(label_ids,n_labels);
if(groups == 0) {
   groups = (int)(getSliceLength(values)/n_labels);
}
ImPlot::PlotBarGroups(ary_labels,values,(int)n_labels,groups);
`
}

func PlotBarGroups${typeName}V(label_ids NullSeparatedStringArray, values []${typeGo}, groups int, size float64, shift float64, flags ImPlotBarGroupsFlags) {
_ = `
size_t n_labels;
auto ary_labels = convertNullSeparatedStringArrayToArray(label_ids,n_labels);
if(groups == 0) {
   groups = (int)(getSliceLength(values)/n_labels);
}
ImPlot::PlotBarGroups(ary_labels,values,(int)n_labels,groups,size,shift,flags);
`
}