# Mac stuff:
.DS_Store

# Rust compile target directories:
target
target_ra

# https://github.com/lycheeverse/lychee
.lycheecache

# Go host binary built by build_go.sh / hmi.sh
main_go

# Flight-recorder trace written by hmi.sh
flightRecorder.trace
