//go:build fffi_idl_code

package implot

func PlotScatter${typeName}(label_id string, values []${typeGo}) {
	_ = `ImPlot::PlotScatter(label_id,values,getSliceLength(values))`
}

func PlotScatter${typeName}V(label_id string, values []${typeGo}, xscale float64, xstart float64, flags ImPlotScatterFlags, offset int, stride int) {
	_ = `ImPlot::PlotScatter(label_id,values,getSliceLength(values),xscale,xstart,flags,offset,stride)`
}

func PlotScatterXY${typeName}(label_id string, xs []${typeGo}, ys []${typeGo}) {
	_ = `ImPlot::PlotScatter(label_id,xs,ys,std::min(getSliceLength(xs),getSliceLength(ys)))`
}

func PlotScatterXY${typeName}V(label_id string, xs []${typeGo}, ys []${typeGo}, flags ImPlotScatterFlags, offset int, stride int) {
	_ = `ImPlot::PlotScatter(label_id,xs,ys,getSliceLength(xs),flags,offset,stride)`
}
