//go:build fffi_idl_code

package implot

func PlotBars${typeName}(label_id string, values []${typeGo}) {
	_ = `ImPlot::PlotBars(label_id,values,getSliceLength(values))`
}

func PlotBars${typeName}V(label_id string, values []${typeGo}, bar_size float64, shift float64, flags ImPlotBarsFlags, offset int, stride int) {
	_ = `ImPlot::PlotBars(label_id,values,getSliceLength(values),bar_size,shift,flags,offset,stride)`
}

func PlotBarsXY${typeName}(label_id string, xs []${typeGo}, ys []${typeGo}, bar_size float64) {
	_ = `ImPlot::PlotBars(label_id,xs,ys,std::min(getSliceLength(xs),getSliceLength(ys)),bar_size)`
}

func PlotBarsXY${typeName}V(label_id string, xs []${typeGo}, ys []${typeGo}, bar_size float64, flags ImPlotBarsFlags, offset int, stride int) {
	_ = `ImPlot::PlotBars(label_id,xs,ys,std::min(getSliceLength(xs),getSliceLength(ys)),bar_size,flags,offset,stride)`
}
