//go:build fffi_idl_code

package implot

func PlotShaded${typeName}(label_id string, values []${typeGo}) {
	_ = `ImPlot::PlotShaded(label_id,values,(int)getSliceLength(values))`
}

func PlotShaded${typeName}V(label_id string, values []${typeGo}, yref float64, xscale float64, xstart float64, flags ImPlotShadedFlags, offset int, stride int) {
	_ = `ImPlot::PlotShaded(label_id,values,(int)getSliceLength(values),yref,xscale,xstart,flags,offset,stride)`
}

func PlotShadedXY${typeName}(label_id string, xs []${typeGo}, ys []${typeGo}) {
	_ = `ImPlot::PlotShaded(label_id,xs,ys,(int)std::min(getSliceLength(xs),getSliceLength(ys)))`
}

func PlotShadedXY${typeName}V(label_id string, xs []${typeGo}, ys []${typeGo}, yref float64, flags ImPlotShadedFlags, offset int, stride int) {
	_ = `ImPlot::PlotShaded(label_id,xs,ys,(int)std::min(getSliceLength(xs),getSliceLength(ys)),yref,flags,offset,stride)`
}

func PlotShadedXY1Y2${typeName}(label_id string, xs []${typeGo}, y1s []${typeGo}, y2s []${typeGo}) {
_ = `ImPlot::PlotShaded(label_id,xs,y1s,y2s,(int)std::min(std::min(getSliceLength(xs),getSliceLength(y1s)),getSliceLength(y2s)))`
}

func PlotShadedXY1Y2${typeName}V(label_id string, xs []${typeGo}, y1s []${typeGo}, y2s []${typeGo}, flags ImPlotShadedFlags, offset int, stride int) {
_ = `ImPlot::PlotShaded(label_id,xs,y1s,y2s,(int)std::min(std::min(getSliceLength(xs),getSliceLength(y1s)),getSliceLength(y2s)),flags,offset,stride)`
}