//go:build fffi_idl_code

package implot

func PlotStairs${typeName}(label_id string, values []${typeGo}) {
	_ = `ImPlot::PlotStairs(label_id,values,getSliceLength(values))`
}

func PlotStairs${typeName}V(label_id string, values []${typeGo}, xscale float64, xstart float64, flags ImPlotStairsFlags, offset int, stride int) {
	_ = `ImPlot::PlotStairs(label_id,values,getSliceLength(values),xscale,xstart,flags,offset,stride)`
}

func PlotStairsXY${typeName}(label_id string, xs []${typeGo}, ys []${typeGo}) {
	_ = `ImPlot::PlotStairs(label_id,xs,ys,std::min(getSliceLength(xs),getSliceLength(ys)))`
}

func PlotStairsXY${typeName}V(label_id string, xs []${typeGo}, ys []${typeGo}, flags ImPlotStairsFlags, offset int, stride int) {
	_ = `ImPlot::PlotStairs(label_id,xs,ys,getSliceLength(xs),flags,offset,stride)`
}
